<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>details-students</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card *ngIf="student">
    <ion-card-header>
      <ion-card-title>{{student.surname}} {{student.name}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item>Ville : {{student.city}}}</ion-item>
        <ion-item>Bio : {{student.biography}}}</ion-item>
        <ion-item>Age : {{student.age}}}</ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="share()">
      <ion-icon name="share"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
